@inherits LayoutComponentBase
@inject IJSRuntime js

<PageTitle>Blog Site</PageTitle>

<div class="page">
    <main>
        <Header></Header>

        @Body

        <Footer></Footer>
    </main>
</div>
